
<h2>Articles categories</h2>

<%= render :partial => 'bolt/articles_categories/table', :locals => { :articles_categories => @articles_categories } %>

<%= will_paginate @articles_categories %>

<%= content_for :sidebar do %>
	<li><%= link_to "#{bolt_show_icon "add"}Add a new articles category".html_safe, new_bolt_articles_category_path %></li>
<% end %>
