
<table id="container" bgcolor="#F0F0F0" align="left">
	<tr><thead>
		<th align="left"><input type="checkbox" id="chkunchk"  onclick="select_all()"/></th>
		<th align="left"><font color="blue"><a href = "/bolt/blogs?sort=title">Title</font></th>

		<th align="left"><font color="blue"><a href = "/bolt/blogs?sort=author">Author</font></th></thead>

	</tr>
	

<% @blogs.each do |blog| %>
  <tr>
  <td style="px"><input class='selall'  type='checkbox' id='chk_<%=blog.id%>'  name ='checkbox' onclick="test()"  value='<%=blog.id %>'></td>

    <td><%= blog.title %></td>
   
   <td><%= blog.author %></td>
    
  </tr>
<% end %>
</table>
