


<div class="tfContainer">
	<%= bolt_text_field f, f.object, :page_id %>
</div>

<div class="tfContainer tfContainerSecond">
	<%= bolt_text_field f, f.object, :banner_path %>
</div>


<div class="clearer"></div>
