


<div class="tfContainer">
	<%= bolt_text_field f, f.object, :page_id %>
</div>

<div class="tfContainer tfContainerSecond">
	<%= bolt_text_field f, f.object, :title %>
</div>

<div class="tfContainer">
	<%= bolt_text_area f, f.object, :body %>
</div>

<div class="tfContainer tfContainerSecond">
	<%= bolt_text_field f, f.object, :position %>
</div>


<div class="clearer"></div>
