		.main-menu ul {
			font-family: Arial, Verdana;
			font-size: 14px;
			margin: 0;
			padding: 0;
			list-style: none;
			z-index:999;
		}
		.main-menu ul li {
			display: block;
			position: relative;
			float: left;
		}
		.main-menu li ul { display: none; }
		.main-menu ul li a {
			display: block;
			text-decoration: none;
			color: #ffffff;
			border-top: 1px solid #ffffff;
			padding: 5px 15px 5px 15px;
			background: #2C5463;
			margin-left: 1px;
			white-space: nowrap;
		}
		
		.main-menu ul li a:hover { background: #617F8A; }
		.main-menu li:hover ul { 
			display: block; 
			position: absolute;
		}
		.main-menu li:hover li { 
			float: none;
			font-size: 14px;
		}
		.main-menu li:hover a { background: #617F8A; }
		.main-menu li:hover li a:hover { background: #95A9B1; }
.heading
{
 font-family:Arial, Helvetica, sans-serif;
}
.footer_text
{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;	
}
#logo
{
		background:url('logo.png') no-repeat;
}
/***********************************/
#menu {text-align:left;}
	/*Toggle Area*/
	#menu .toggle {float:right;width:9px; padding:5px; cursor:pointer; border-top:1px solid white; border-left:1px solid #E0E0E0; color:#999;}
	#menu ul.navmenu li:first-child .toggle{border-width:0 0 0 1px;}
	
	/*Menu Setup*/
	#menu ul{padding:0; margin:0; width:150px;}
	#menu ul ul{border:1px solid #CCC;overflow:hidden;}
	#menu ul.navmenu li {margin:0; list-style:none;float:left;}
	#menu ul.navmenu li li {float:none;}
	/*Links*/
	#menu ul.navmenu a, #menu ul.navmenu a:visited {text-decoration:none; padding:5px; display:block; color:#008FDD;}
	#menu ul.navmenu ul.submenu a:hover{background:#FFF4D2; color:#333;}
	/*Heading Outer div*/
	#menu ul.navmenu .menutop{border:1px solid #CCC; border-width:0 1px; overflow:hidden; width:150px; background:#F9F9F9; }
	/*Header Links*/
	#menu ul.navmenu .menutop a{width:120px;float:left;margin:0 0 1px 0; border-top:1px solid white;}
	/*Header Link Hover*/
	#menu ul.navmenu .menutop a:hover{color:#333;}
	/*Removes white border for the first header*/
	#menu ul.navmenu li:first-child .menutop a {border-width:0px;}
	
	/*Single Menu Width Fix*/
	#menu ul.navmenu .menusingle a{width:140px;}
	
	/*Border Radius and Special Border Width*/
	#menu ul.navmenu li:first-child .menutop{border-width:1px 1px 0 1px; -moz-border-radius:5px 5px 0 0;-webkit-border-top-left-radius:5px;-webkit-border-top-right-radius:5px;}
	#menu ul.navmenu li:last-child .menutop{border-width:0px 1px 1px 1px; -moz-border-radius:0 0 5px 5px; -webkit-border-bottom-left-radius:5px;-webkit-border-bottom-right-radius:5px;}
	#menu ul.navmenu li:last-child ul.submenu{-moz-border-radius:0 0 5px 5px;-webkit-border-bottom-left-radius:5px;-webkit-border-bottom-right-radius:5px;}
	#menu ul.navmenu li:last-child .menutop-open{-moz-border-radius:0;-webkit-border-radius:0px; border-width:0 1px;}